

<div class="cd-overlay"></div>

<nav class="cd-nav">
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <li class="has-children">
            <a href="/">Gallery</a>

            <ul class="cd-nav-gallery is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="/">Browse Gallery</a></li>
                <li>
                    <a class="cd-nav-item" href="/">
                        <img src="public/img/img.jpg" alt="Product Image">
                        <h3>Product #1</h3>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item" href="/">
                        <img src="public/img/img.jpg" alt="Product Image">
                        <h3>Product #2</h3>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item" href="/">
                        <img src="public/img/img.jpg" alt="Product Image">
                        <h3>Product #3</h3>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item" href="/">
                        <img src="public/img/img.jpg" alt="Product Image">
                        <h3>Product #4</h3>
                    </a>
                </li>
            </ul>
        </li>

        <li class="has-children">
            <a href="/">Services</a>
            <ul class="cd-nav-icons is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="/">Browse Services</a></li>
                <li>
                    <a class="cd-nav-item item-1" href="/">
                        <h3>Service #1</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-2" href="/">
                        <h3>Service #2</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-3" href="/">
                        <h3>Service #3</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-4" href="/">
                        <h3>Service #4</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-5" href="/">
                        <h3>Service #5</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-6" href="/">
                        <h3>Service #6</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-7" href="/">
                        <h3>Service #7</h3>
                        <p>This is the item description</p>
                    </a>
                </li>

                <li>
                    <a class="cd-nav-item item-8" href="/">
                        <h3>Service #8</h3>
                        <p>This is the item description</p>
                    </a>
                </li>
            </ul>
        </li>

        {% for link in global.main-nav %}
            <li class="{% if link.sub  %}has-children{% endif %} {% if mixture.url == link.url %}active{% endif %}" >
                <a href="{% if link.sub  %}#0{% else %}{{ link.url }}{% endif %}">{{ link.text }}</a>
                {% if link.sub %}
                    {% if link.sub.settings.type == 'tree' %}
                        <ul class="cd-secondary-nav is-hidden">
                            <li class="go-back"><a href="#0">Zur端ck</a></li>
                            {% if link.sub.settings.bottom-url != empty %}
                                <li class="see-all {% if mixture.url == link.sub.settings.bottom-url %}active{% endif %}">
                                    <a href="{{ link.sub.settings.bottom-url }}">{{ link.sub.settings.bottom-text }}</a>
                                </li>
                            {% endif %}
                            {% for category in link.sub.items %}
                                <li class="has-children  {% if mixture.url == category.url %}active{% endif %}">
                                    <a href="{{category.url}}">{{category.text}}</a>
                                    {% if category.sub %}
                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Zur端ck</a></li>
                                            {% if category.url != empty %}
                                                <li class="see-all {% if mixture.url == category.url %}active{% endif %}"><a href="{{ category.url }}">Alle anzeigen</a></li>
                                            {% endif %}
                                            {% for link in category.sub %}
                                                <li class="{% if link.sub  %}has-children{% endif %} {% if mixture.url == link.url  %}active{% endif %}">
                                                    <a href="{% if link.sub  %}#0{% else %}{{ link.url }}{% endif %}">{{ link.text }}</a>
                                                    {% if link.sub  %}
                                                        <ul class="is-hidden">
                                                            <li class="go-back"><a href="#0">Zur端ck</a></li>
                                                            {% if link.url != empty %}
                                                                <li class="see-all {% if mixture.url == link.url %}active{% endif %}"><a href="{{ link.url }}">Alle anzeigen</a></li>
                                                            {% endif %}
                                                            {% for link in link.sub %}
                                                                <li class="{% if mixture.url == link.url %}active{% endif %}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% elseif link.sub.settings.type == 'gallery' %}
                        <ul class="cd-nav-gallery is-hidden">
                            <li class="go-back"><a href="#0">Zur端ck</a></li>
                            {% if link.sub.settings.bottom-url != empty %}
                            <li class="see-all {% if mixture.url == link.sub.settings.bottom-url %}active{% endif %}"><a href="{{ link.sub.settings.bottom-url }}">{{ link.sub.settings.bottom-text }}</a></li>
                            {% endif %}

                            {% for link in link.sub.items %}
                                <li  class="{% if mixture.url == link.url  %}active{% endif %}">
                                    <a class="cd-nav-item" href="/">
                                        <img src="{{link.img}}" alt="{{link.img}}">
                                        <h3>{{link.text}}</h3>
                                        <p>{{link.description}}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}

    </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->

<div id="cd-search" class="cd-search">
    <form>
        <input type="search" placeholder="Suche...">
    </form>
</div>